## ERRORS SETTINGS
# Should be set to false in production
DISPLAY_ERROR_DETAILS = true

# Parameter is passed to the default ErrorHandler
# View in rendered output by enabling the "displayErrorDetails" setting.
# For the console and unit tests we also disable it
LOG_ERRORS = true

# Display error details in error log
LOG_ERROR_DETAILS = true

## DATABASE
DB_HOST = localhost
DB_USERNAME = root
DB_PASSWORD = 123456
DB_DATABASE = gea_db

## JWT SECRET KEY
JWT_SECRET = 3f.team@key